# Byte-compiled
__pycache__/

# Distribution / packaging
MANIFEST

# Unit test / coverage reports
.pytest_cache/


# Sphinx documentation
docs/_build/

# pipenv
Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Pearson data
data/sample_essay_dataset.csv
data/sample_essay_project_instructions.docx
data/sample_essay_rubric.docx
data/test_sample_essay_dataset.csv
